<div class="booking-cards-container" data-map-target="list">
  <% parkings.each do |parking| %>
    <% booking = parking.bookings.last%>

    <div class="booking-card">

      <div class="bk-card-img">
        <%= image_tag("cars/new-map-car.png", width: 40, height: 20, crop: :fill) %>
      </div>

      <div class="bk-card-infos">
        <% unless @current_lat.nil? %>
        <span class="index-card-text"><%= parking.distance_from([@current_lat,@current_lng]) %> dans <%= time_ago_in_words booking.available_at %></span>
        <% end %>
      </div>

      <div class="bk-card-go-btn">
        <% link_to booking_path(booking), class:"bk-card-eye-btn" %>
          <i class="fa-sharp fa-solid fa-eye" style="color: #000000;"></i>
      </div>

    </div>

  <% end %>

</div>
