 <div class="header-container">
    <p class="btn-logo"><%= image_tag 'cars/new-map-car.png' %></p>
    <p >RE</p>
    <p ><i class="fa-solid fa-arrow-right px-1" style="color: #E8FF54"></i></p>
    <p >LAY</p>
  </div>
