.show-validation-button-border {
  background-image: url("ground/texture_stripe_yellow.png");
  background-size: cover;

  margin: 0.5rem;
  padding: 8px;
  border-radius: 2px;

}

.show-validation-button {
  background-color: rgba(242,209,0,0.6);
  border-radius: 2px;


  text-decoration: none;
  text-align: center;
  .validation-btn-txt {
    color: black;
    text-decoration: none;
    font-size: 25px;
  }
}


.button-blue {
  height: 30px;
  width: 50px;
  border-radius: 5px;
  background-color: #0077b6;
  color: white ;
  font-family: 'Laila', sans-serif;
  font-size: 8px;
  text-align: center;
}

.button-blue-big {
  height: 50px;
  width: 100px;
  border-radius: 5px;
  background-color: #0077b6;
  color: white ;
  font-family: 'Laila', sans-serif;
  font-size: 18px;
  text-align: center;

}

.button-pink {
  height: 30px;
  width: 50px;
  border-radius: 5px;
  background-color: #d62828 ;
  color: white ;
  font-family: 'Laila', sans-serif;
  font-size: 12px;
  text-align: center;
}
.button-pink-big {
  height: 60px;
  width: 100px;
  border-radius: 5px;
  background-color: #d62828 ;
  color: white ;
  font-family: 'Laila', sans-serif;
  font-size: 12px;
  text-align: center;
}
.button-green {
  height: 30px;
  width: 50px;
  border-radius: 5px;
  background-color: #007200;
  color: white ;
  font-family: 'Laila', sans-serif;
  font-size: 12px;
  text-align: center;
}

.btn-flat {
  color: white;
  padding: 8px;
  border-radius: 4px;
  background-image: url("ground/texture-asphalte4b.png");
  background-size: cover;
  text-decoration: none;
}
