.button-blue {
  height: 30px;
  width: 50px;
  border-radius: 5px;
  background-color: #0077b6;
  color: white ;
  font-family: 'Laila', sans-serif;
  font-size: 12px;
  text-align: center;
}

.button-blue-big {
  height: 50px;
  width: 100px;
  border-radius: 5px;
  background-color: #0077b6;
  color: white ;
  font-family: 'Laila', sans-serif;
  font-size: 18px;
  text-align: center;

}
