.index-card-text {
  font-size: 16px;
  color: white;

  background: black;
  border-radius: 1em;
  padding: 0 0.8em 0.2em 0.8em;
}

.address-card-text {
  display: flex;
  justify-content:space-between;

  margin-bottom: 18px;

  font-size: 18px;
  color: white;
}

.card-text {
  font-size: 18px;
  color: white;
}

.card-important {
  border: 2px solid #E8FF54;
  padding: 5px;
  font-weight: 400;
  color: white;
}

.countdown {
  border: 2px solid black;
  padding: 10px;
}

.card-booking {
  overflow: hidden;
  height: 50px;
  background-color: rgba(238, 238, 238, 0.7);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.card-booking img {
  height: 100%;
  width: 50px;
  object-fit: cover;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Sarabun';
  margin: 0;
}

.card-booking p {
  font-family: 'Sarabun';
  font-size: 12px;
  line-height: 1;
  opacity: .7;
  margin-bottom: 2px;
  margin-top: 2px;
}

.flexbox {
  display: flex;
}

.booking-card {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;

  z-index: 1;

  // background: rgba(217, 217, 217, 0.38);
}
.booking-card-show3 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;

  z-index: 1;

  // background: rgba(217, 217, 217, 0.38);
}

.bk-card-infos {
  display: flex;
  flex-direction: column;
  // background-color: black;

}



.bk-card-go-btn {
  display: flex;
  justify-content: center;
  margin: 10px;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  align-content: center;
  align-items: center;
}


.bk-card-address {
  font-size: 12px;
  color: black;
}


.bk-card-time {
  font-size: 20px;
  color: black;
}


.bk-card-btn {
  display: flex;
}

.bk-card-img {
  margin-left: 1em;
  margin-bottom: 0.3em;
}

.parking-address {
  font-size: small;
}


.show-card-first-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 15px;
}

.show-card-first-box-b {
  display: flex;

  justify-content: space-between;
  align-items: center;

  margin-bottom: 15px;
}

.show-card-second-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 10px;
}

.show-card-second-box-b {
  display: flex;
  justify-content: center;

  margin-bottom: 15px;
}

.show-card-third-box {
  display: flex;
  justify-content: space-around;
}

.show-card-third-box-b {
  display: flex;
  justify-content: center;

  margin-bottom: 10px;

}

.show-card-fourth-box {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;

  .show-card-car-infos-1{
    display: flex;
    align-items: center;

    font-size: large;
  }

  .show-card-car-infos-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    font-size: large;
  }

  .show-card-car-infos-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.show-card-fourth-box-b {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
  margin-top: 20px;
}



.flexbox {
  display: flex;
}

.bk-card-img2 {
  display: flex;
  justify-content: center;
}

.booking-card-show {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;

  z-index: 1;

  // background: rgba(217, 217, 217, 0.38);
}
.index-card-text-show {
  font-size: 16px;
  color: #E8FF54;

  background: black;
  border-radius: 1em;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}


.booking-card-show-line1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.img-type {
  display: flex;
  flex-direction: column;
}
.model-color {
  display: flex;
  flex-direction: column;
}
