.card-booking {
  overflow: hidden;
  height: 50px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-booking img {
  height: 100%;
  width: 50px;
  object-fit: cover;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 2px;
}

.card-booking .card-booking-infos {
  padding: 4px;
}

.flexbox {
  display: flex;
}
