.container {
  background-color: lightpink;
  height: 595 px;
  width: 375px;
}

.form-container {
  display: flex;
  height: calc(100vh - 72px);
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1564668836804-05a2de350bb6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
}
