.container {
  background-color: lightpink;
  height: 595 px;
  width: 375px;
}

.form-container {
  display: flex;
  height: calc(100vh - 72px);
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-image: url("ground/texture-asphalte4b.png");
  background-size: cover;
}

.home-container {
  height: calc(100vh - 72px);
}


.map-container {
  width: 100%;
  height: 450px;
}
