.form-booking {
  font-size: 20px;
  color: white;
  background: black;
  border-radius: 1em;
  padding: 10px;
  margin: 10px;
}

.form-login {
  background-image: url("ground/texture-white-stripe.png");
  background-size: cover;
  padding: 20px;
  // height: 70vh;
  // margin-left: 4rem;
  // margin-right: 4rem;
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // align-content: center;
  // justify-content: center;
  // align-items: center;

  .btn {
    width: 100%;
    border: 1px solid #32313a;
  }
}

.form-inputs {
  color: #32313a
}

.form-actions {
  color: #32313a
}
