.form-booking {
  font-size: 18px;
  color: white;
  background: black;
  border-radius: 1em;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.form-login-black {
  background: rgba(217, 217, 217, 0.38);
  background-size: cover;
  padding: 20px;
  font-size: 20px;
  color: white;

  .form-inputs {
    border-radius: 10px;
    padding: 10px;

    color: white;
    background-color: black;
  }

  .form-actions {
    margin-top: 10px;
    border-radius: 10px;

    background: #E8FF54;
    border: 1px solid white;

    text-align: center;
    font-family: 'Monomaniac One', sans-serif;
    color: black;
  }
}
