
.map-container-show {
  width: auto;
  height: calc(100vh - 60px);
  overflow: hidden;
  position: fixed;
  top: 50px;
}

.map-container {
  width: 100vw;
  height: calc(100vh - 46px - 56px );
}

.map {
  height: calc(100vh - 102px);
  position: fixed;
  top: calc(54px + 46px);
  height: 300px;
  width: auto;
  width: 100vw;
}

.map-search-fields-container{
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  background-size: cover;
  background-position: bottom;
}

.marker {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
}

.default-marker {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
}

.custom-marker {
  width: 40px;
  height: 20px;
  background-size: cover;
}
