.map-container {
  width: 100vw;
  height: 100vh;
}

.map {
  width: 100vw;
  height: calc(100vh - 46px);
  position: fixed;
  top: 46px;
}

.map-search-fields-container{
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  top: 50px;
  width: 100vw;

}

.map-address-field {
  flex-grow: 1;
}


.mapboxgl-ctrl-geocoder {
  width: 100% !important;
  max-width: 100% !important;
}


.mapboxgl-ctrl-geocoder--input {
  height: 50px !important;
  width: calc(100vw - 139px) !important;
}

.map-time-and-btn-container{
  display: flex;
  flex-direction: row;
}

.map-time-field {
  font-size: 18px;
  color: white;
  height: 50px;
  background: black;
  border: none;
  padding-left: 8px;
}

.map-go-btn {
  height: 50px;
  padding: 11px;
  border: none;

  background: #E8FF54;

  font-size: 28px;
  font-family: 'Monomaniac One', sans-serif;
}
.map-container-show {
  width: auto;
  height: calc(100vh - 60px);
  overflow: hidden;
  position: fixed;
  top: 50px;
}
.marker {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
}

.default-marker {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
}

.custom-marker {
  width: 40px;
  height: 20px;
  background-size: cover;
}
