.navbar {
  display: flex;
  justify-content: space-around;
  background: rgba(217, 217, 217, 0.38);

  background-size: cover;
  width: 80%;

  position: fixed !important;

}
// .navbar-relay {
// margin: 20px;
// }

.navbar-style {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;

  text-decoration: none;


}

// .navbar-round-btn{
//   // display: flex;
//   // flex-direction: column;
//   // flex-wrap: wrap;
//   // align-content: center;
//   // justify-content: center;

//   // width: 50px;
//   // height: 50px;
//   // border-radius: 50%;
//   // background-color: white;
// }


// !important
